@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&family=Playfair+Display&display=swap');

body{
    font-family: 'Playfair Display', sans-serif;
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: black;
}
/* **************************NAVBAR*************************** */
nav {
overflow: hidden;
background-color: antiquewhite;
position: fixed;
width: 100%;
opacity: 0.9;
}
header li{
    float: right;
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo {
    font-family: 'Pacifico',cursive ;
    font-weight: bold;
    float: left;
}
/* ****************************Image Principale******************* */
#imageprincipale {
padding-top: 60px;
background-image: url('../img/futurre.jpg');
background-size: cover;
height: 799px;
}
h1 {
font-family: 'Pacifico', cursive;
text-align: center;
color: antiquewhite;
font-size: 6em;
margin-top: 110px;

}
#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
background-color: antiquewhite;
box-shadow: 1px 3px 2px black;
}
h3 {
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
}
/* ********************PRESENTATION******************* */
#texteIntro {
    background-color: antiquewhite;
    padding: 10px 0px 100px 0px;
    text-align: center;
}
#texteIntro2 {
    background-color: antiquewhite;
    padding: 0px 20px;
    text-align: center;
    }
    #Mesexperienceprofessionnelles {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 10%;
    }
    .imagesmétier h4 {
        font-family: 'Dancing Script, cursive';
        text-align: center;
        font-size: 1.8em;
        margin: 15px;
        font-weight: 300;
    }
    /* *****************************FOOTER**************************** */
    footer {
        background-color: burlywood;
        padding: 20px 0 10px 0;
        text-align: center;
    }
    form {
        margin: 0 auto ;
        max-width: 900px;
    }
    input, textarea, button{
        border: none;
        width: 55%;
        padding: 15px 10px;
        margin: 1px 0;
        font-size: 1.2em;
        font-family: 'Playfair Display', sans-serif;
        border-radius: 8px;
    }
    textarea {
        height: 120px;
    }
    button {
        font-size: 1.5em;
        background-color: antiquewhite;
    }
    button:hover {
        background-color: red;
        color: antiquewhite;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    #deuxiemeTrait {
        height: 1px;
        width: 75%;
        background-color: antiquewhite ;
        margin: 60px auto;
    }
    #copyrightEtIcons {
        display: flex;
        margin-bottom: 20px;
        padding: 0 10%;
    }
    #copyright {
        width: 50%;
        text-align: left;
        color: antiquewhite;
    }